body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}

.left-section {
    background-color: #1A237E;
    color: white;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-section img {
    width: 100px;
    height: auto;
}

.right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-container {
    width: 80%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.signup-container h2 {
    margin-top: 0;
}

.signup-container a {
    color: #007bff;
    text-decoration: none;
}

.signup-container a:hover {
    text-decoration: underline;
}

.signup-container input[type="text"],
.signup-container input[type="password"] {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.signup-container input[type="submit"]:hover {
    background-color: #0056b3;
}

.captcha-container {
    display: flex;
    align-items: center;
}

.captcha-container img {
    margin-right: 10px;
}

.captcha-container i {
    cursor: pointer;
}

.controls {
    text-align: center;
}

.controls button {
    background-color: #007bff;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 170px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls a {
    color: #ffffff;
    text-decoration: none;
}